@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header>
    <h1>@localizer["Çıkış Yap"]</h1>
    <p>@localizer["Başarıyla çıkış yaptınız"].</p>
</header>