@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MilliTakim.Models.Magaza
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="row">
    <div class="col-md-4">
        <form asp-action="MagazaDuzenle" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="urunId" />
            <div class="form-group">
                @localizer[@Html.DisplayNameFor(model => model.urunAdi)]
                <input asp-for="urunAdi" class="form-control" />
                <span asp-validation-for="urunAdi" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                @localizer[@Html.DisplayNameFor(model => model.fiyat)]
                <input asp-for="fiyat" class="form-control">
                <span asp-validation-for="fiyat" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                @localizer[@Html.DisplayNameFor(model => model.ProfilePicture)]
                @if (Model.ProfilePicture != null)
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))">
                    <input type="hidden" asp-for="ProfilePicture" />
                }
                else
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="~/resim-yok-png-3.png">
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="ProfilePicture"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["Kaydet"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}