@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div align="center" class="container bootstrap snippets bootdey body">
    <div>
        <hr />
        <div class="align-content-center">
            <img class="img-responsive profile-img margin-bottom-20" src="~/takm.jpg" />
        </div>
        <div class="float-left margin">
            <h2 style="color:red">@localizer["Tarihçemiz"]</h2>
            <hr />
            <p style="font-size:13px">
                @localizer["Türk sporunun ilk teşkilatı olan Türk İdman Cemiyetleri İttifakı'nın kurulmasının ardından Yusuf Ziya Öniş başkanlığında ilk Türk Futbol Federasyonu 1923 yılında Şehzadebaşı'ndaki Letafet Apartmanı salonunda yapılan toplantıda 'Futbol Hey'et - i Müttehidesi' adıyla kurulmuştur. Ardından FIFA'ya başvurulmuş ve Türkiye 21 Mayıs 1923 tarihinde FIFA'nın 26. üyesi olmuştur.FIFA üyesi Türkiye, ilk milli maçını Cumhuriyetin ilanından üç gün önce oynadı. 26 Ekim 1923 tarihinde İstanbul Taksim Stadı'nda Romanya'yla oynanan bu maç 2 - 2 sonuçlandı. Romanya karşısında 1 - 0 mağlup duruma düşen Millilerimiz, Zeki Rıza Sporel'in 32 ve 50'inci dakikalarda attığı iki golle öne geçmeyi başardı.Romanya'nın ikinci golüyle maç 2-2 berabere biten maçta Romanya'ya 2 gol atan Zeki Rıza Sporel, A Milli Takım'ın ilk golünü atarak tarihe geçti.Milli Takım, 17 Haziran 1924'te oynadıkları Finlandiya maçında ilk galibiyeti elde etti. Helsinki'de Helsingfors Stadı'nda oynanan maçta Fenerbahçeli Zeki Rıza Sporel, 4 golüyle Finlandiya ağlarını havalandırarak adını altın harflerle tarihe yazdırdı.Ardından gelen dönemde Milli Takım'ı 1924 Paris Olimpiyatları'na hazırlaması için İskoçya'dan Billy Hunter getirtilmiştir. Hunter, Türk futbolculara çağdaş futbolu tanıtan ve sistemli bir şekilde çalıştıran ilk teknik adam olmuştur. Yine 1924 Paris Olimpiyatları'nda Çekoslovakya'yla oynanan ve 5-2 kaybedilen maç, kayıtlara Milli Takım'ın yurtdışındaki ilk maçı olarak geçmiştir."]
            </p>
        </div>
    </div>
</div>