<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MilliTakim</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Bu iki link footerdaki sosyal medya simgeleri icin -->
    <link href="~/lib/bootstrap/dist/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Tarihçe</a></li>
                <li><a href="#">Futbolcularımız</a></li>
                <li><a href="#">Bilet Al</a></li>
                <li><a href="#">Mağaza</a></li>
            </ul>
            <partial name="_LoginPartial.cshtml" />
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">   <!-- Bu kisimda row classini kullanan divin icine simdilik 2 tane daha div acip sosyal medya ikonlarini denedim-->
        <div class="row">
            <div class="col-sm-8">
                &copy; 2020 - MilliTakim - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-social-icon btn-twitter" style="float:right">
                    <span class="fa fa-twitter"></span>
                </a>
                <a class="btn btn-social-icon btn-instagram" style="float:right">
                    <span class="fa fa-instagram"></span>
                </a>
                <a class="btn btn-social-icon btn-facebook" style="float:right">
                    <span class="fa fa-facebook"></span>
                </a>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
